body {
  background-color: black;
}

@font-face{
  font-family:'digital-clock-font';
  src: url('font/digital-7.ttf');
 }

#clock {
  font-family: digital-clock-font;
  font-size: 175px;
  width: 1000px;
  margin: 200px auto;
  text-align: center;
  color: rgb(0, 214, 36);
  border-radius: 20px;
  text-shadow:
  0 0 3px #0fa,
  0 0 3px #0fa,
  0 0 5px #0fa;
 
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #0fa,
              0 0 0.8rem #0fa,
              0 0 2.8rem #0fa,
              inset 0 0 1.3rem #0fa;
  }
  